// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';


.turinys{
    display: flex;

    align-items: center;
    flex-wrap: wrap;

    .card-title{
        background-color: lightgray;
        border-radius: 5px;
        padding: 5px;
    }
    .card-title2{
        background-color: lightgoldenrodyellow;
        border-radius: 5px;
        padding: 5px;
    }
    .korta{
        width: 30%;
        padding: 30px;
    }
}
